
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    font-size:12px;
    font-size:1.2rem ; /* 12÷10=1.2 */
}
@media only screen and (min-width: 320px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 376px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 415px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}
@keyframes show
{
    0% {transform: scale(0,0);}
    85% {transform: scale(1.1,1.1)}
    100% {transform: scale(1,1)}
}

@-moz-keyframes show /* Firefox */
{
    0% {transform: scale(0,0);}
    85% {transform: scale(1.1,1.1)}
    100% {transform: scale(1,1)}
}

@-webkit-keyframes show /* Safari 和 Chrome */
{
    0% {transform: scale(0,0);}
    85% {transform: scale(1.1,1.1)}
    100% {transform: scale(1,1)}
}

.sorterBox{
    position: fixed;
    left: 3rem;
    bottom: 3rem;
}
.sorter{
    padding:0 2%;
    margin: 20px 1%;
    margin-left: 2%;
    min-width: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    background-color: #f2f2f2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    border: none;
}
#explain{
    position: fixed;
    max-width: 40%;
    min-width: 10rem;
    padding: 10px;
    min-height: 100px;
    background-color: #38c2a8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 15px #ccc;
    -webkit-box-shadow: 0 0 7px #ccc;
    animation: show 0.2s linear;
    -moz-animation: show 0.2s linear; /* Firefox */
    -webkit-animation: show 0.2s linear;  /* Safari 和 Chrome */
}

#explain p{
    font-size: 0.8rem;
}
.audio{
    position: relative;
    height: 30px;
    overflow: hidden;
    font-size: 1rem;
    line-height: 1rem;
}
.audio:after{
    position: absolute;
    left: 2.2rem;
    top: 0.1rem;
    bottom: 0;
    margin: auto;
    content: "▶"
}
.audio audio{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}




